@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@-webkit-keyframes opacity {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }

@keyframes opacity {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: 200;
    font-size: 1em;
    color: #000;
    background-color: #fefefe;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    min-height: 600px;
    margin: 50px auto;
    width: 50%;
}

.header {
    margin: auto;
    text-align: left;
}

.main {
    margin: 2% auto;
    width: 100%;  
}

.footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    min-height: 50px;
    width: 100%;
    text-align: left;
    margin: 50px auto;
}

.selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 1;
    min-height: 300px;
    -webkit-animation: opacity .8s steps(100) alternate;
    animation: opacity .8s steps(100) alternate;
}

.response {
    display: none;
    opacity: 0;
    min-height: 300px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-animation: opacity 1s steps(100) alternate;
    animation: opacity 1s steps(100) alternate;
}

.response__text {
    width: 70%;
    margin: 30px 0;
    overflow: hidden;
}

.card {
    width: 25%;
    margin: 30px 20px 0 0;
    min-height: 200px;
    cursor: pointer;
    -webkit-transform: translate(0) scale(1);
    -ms-transform: translate(0) scale(1);
    transform: translate(0) scale(1);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;    
}

.card:hover {
    -webkit-transform: translate(20px, 20px) scale(1.1);
    -ms-transform: translate(20px, 20px) scale(1.1);
    transform: translate(20px, 20px) scale(1.1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    user-select: none;
}

#return:hover {
    -webkit-transform: translate(5px, 5px);
    -ms-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
}

.card__img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card__caption {
    font-size: .7em;
}

/* @media screen and (max-width: 550px) and (orientation: portrait) {
    .selector {
        flex-direction: column;
        min-height: 650px;
    }

    .card {
        width: 70%;
        margin: 10px auto;
    }
} */